/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body    {
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 30px;
}

/* container style */
.container  {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    /* debug */
    height: 500px;
    border: 2px solid white;
}

.box    {
    width: calc(100% / 7 - 10px);
    aspect-ratio: 1 / 1;
    /* debug */
    background-color: brown
}